biopython==1.79
cycler==0.11.0
fasteners==0.17.3
fonttools==4.33.3
GridDataFormats==1.0.1
gsd==2.5.3
joblib==1.1.0
kiwisolver==1.4.3
matplotlib==3.5.2
MDAnalysis==2.2.0
mdvoxelsegmentation==1.1.6
-e git+ssh://git@github.com/BartBruininks/mdvwhole.git@d0e11b86e7256d84171c4dfc185e3630f0cab02e#egg=mdvwhole
mmtf-python==1.1.2
mrcfile==1.3.0
msgpack==1.0.4
networkx==2.8.4
numpy==1.23.0
packaging==21.3
Pillow==9.1.1
psutil==5.9.1
pyparsing==3.0.9
python-dateutil==2.8.2
scipy==1.8.1
six==1.16.0
threadpoolctl==3.1.0
tqdm==4.64.0
